body {
    margin: 0;
    font-family: Arial;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #222;
    color: white;
    padding: 15px;
}

.sidebar a {
    display: block;
    color: rgb(33, 194, 184);
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #555;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
#toggleBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar {
    transition: width 0.3s;
}

.sidebar {
    padding-top: 60px; /* pushes content below the button */
}
.sidebar {
    width: 200px;
    transition: 0.3s;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 60px;
}

/* Hide text when collapsed */
.sidebar.collapsed h2,
.sidebar.collapsed a {
    opacity: 0;
}

/* Adjust content when collapsed */
.content {
    margin-left: 220px;
    transition: 0.3s;
}

.sidebar.collapsed ~ .content {
    margin-left: 80px;
}

.home-bg {
    background-image: url("back.jpg"); /* or your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
}